<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>%%TITLE_PLACEHOLDER%%</title>
</head>


    <div class="container">
<div class="pt-2 is-flex is-justify-content-flex-start is-rounded">
    <nav class="navbar box p-2 pl-2 pr-2 is-dark is-rounded" role="navigation" aria-label="main navigation">
        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item is-dark">
                    Home
                </a>
                <a class="navbar-item is-dark">
                    About
                </a>
                <div class="navbar-item is-dark has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Docs
                    </a>

                    <div class="navbar-dropdown is-dark is-rounded">
                        <a class="navbar-item">
                            JavaScript
                        </a>
                        <a class="navbar-item">
                            Node & Nodemon
                        </a>
                        <a class="navbar-item">
                            REST Api
                        </a>
                        <a class="navbar-item">
                            SSR
                        </a>
                        <a class="navbar-item">
                            CLI/UNIX
                        </a>  
                    </div>
                </div>
            </div>
    </nav>
</div>
</div>

<body>
